<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MusicBase HTML</title>
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/ico" href="img/favicon.ico" />
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700%7cSource+Sans+Pro:400,600,700" rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/nivo-lightbox.css">
	<link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
</head>
<body>
	<header id="site-header">
		<form action="#" id="search-header" name="search-header">
			<input type="search" name="search" placeholder="Type and Hit Enter..">
			<button>Search</button>
		</form>
		<div class="container nav-wrapper">
			<!-- Logo -->
			<div class="site-branding">
				<a href="/">
					<span class="first-word colored">Podcast</span>
					<span class="second-word">Music</span>
				</a>
			</div>
			<!-- Main Mneu -->
			<nav id="site-navigation" class="site-navigation">
				<ul id="main-menu">
					<li class="active has-child">
						<a href="/">Home</a>
					</li>
					<li class="has-child">
						<a href="/album">Albums</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<br>
	<br>
	<br>
	<br><br><br><br>
	<div class="container albums-page-wrapper section">
		
		<div class ="row">
				<h2 style="padding: 30px; color:aquamarine">Albums</h2>
				<div class="row albums filterable-content">
					<form class="form-horizontal" method="post" action="/postalbum">
						<div class="form-group">
							<label class="control-label col-sm-2" for="email">Artist Name:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="artistname" id="email">
							</div>
						</div>
						<br>
						<div class="form-group">
							<label class="control-label col-sm-2" for="pwd">Collection Name:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="collectionname">
							</div>
						</div>
						<br>
						<div class="form-group">
							<label class="control-label col-sm-2" for="pwd">Feed Url:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="feedurl">
							</div>
						</div>
						<br>
						<div class="form-group">
							<label class="control-label col-sm-2" for="pwd">Arkwork Url Small:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="artworkurlsmall">
							</div>
						</div>
						<br>
						<div class="form-group">
							<label class="control-label col-sm-2" for="pwd">Language : </label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="language">
							</div>
						</div>
						<br>
						<div class="form-group">
							<label class="control-label col-sm-2" for="pwd">Podcast_cover : </label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="podcast_cover">
							</div>
						</div>
						<br>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-default">Submit</button>
							</div>
						</div>
					</form>
				</div>
		</div>
		<div class="row">
				<h2 style="padding: 30px; color:aquamarine">Episodes</h2>
				<div class="row albums filterable-content">
					<form class="form-horizontal" method="post" action="/postepisodes">
						<div class="form-group">
							<label class="control-label col-sm-2" for="email">Episode Name:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="podcast_name" id="email">
							</div>
						</div>
						<br>
						<div class="form-group">
							<label class="control-label col-sm-2" for="pwd">Title : </label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="Title">
							</div>
						</div>
						<br>
						<div class="form-group">
							<label class="control-label col-sm-2" for="pwd">Publish Date : </label>
							<div class="col-sm-10">
								<input type="date" class="form-control" name="pubdate">
							</div>
						</div>
						<br>
						<div class="form-group">
							<label class="control-label col-sm-2" for="pwd">Duration: </label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="duration">
							</div>
						</div>
						<br>
						<div class="form-group">
							<label class="control-label col-sm-2" for="pwd">Description : </label>
							<div class="col-sm-10">
								<input type="textarea" class="form-control" name="duration">
							</div>
						</div>
						<br>
						<div class="form-group">
							<label class="control-label col-sm-2" for="pwd">Summary : </label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="summary">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="pwd">Audio URL : </label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="audiourl">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="pwd">Image URL : </label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="imageurl">
							</div>
						</div>
						<br>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-default">Submit</button>
							</div>
						</div>
					</form>
				</div>
		</div>
		
	</div>
</body>
</html>