<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Podcast Music</title>
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/ico" href="img/favicon.ico" />
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700%7cSource+Sans+Pro:400,600,700" rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/nivo-lightbox.css">
	<link rel="stylesheet" href="../css/owl.carousel.css">
	<!-- Theme CSS -->
	<link rel="stylesheet" href="../css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	
	<!-- Header -->
	<header id="site-header">
		
		<div class="container nav-wrapper">
			<!-- Logo -->
			<div class="site-branding">
				<a href="/">
					<span class="first-word colored">Podcast</span>
					<span class="second-word">Music</span>
				</a>
			</div>
			
			<!-- Main Mneu -->
			<nav id="site-navigation" class="site-navigation">
				<ul id="main-menu">
					<li class="active has-child">
							<a href="/">Home</a>
					</li>
					<!-- <li class="has-child">
						<a href="/album">Albums</a>
					</li> -->
				</ul>
			</nav>
			<form name="search-header" method="post" action="/searchByEpisode">
				<input type="search" name="query" placeholder="Type and Hit Enter..">
				<button>Search By Episode</button>
			</form>
			<form name="search-header" method="post" action="/searchByPodcast">
				<input type="search" name="query" placeholder="Type and Hit Enter..">
				<button>Search By Podcast</button>
			</form>
			<!-- Extra Nav -->
		</div>
	</header>

	<div class="site-content">
		
		<!-- Page Header -->
		<div class="page-header">
			<div class="overlay-section">
				<div class="container page-header-section">
					<h1 class="page-title">Podcasts</h1>
				</div>
			</div>
		</div>

		<!-- Albums-->
		<div class="container albums-page-wrapper section">
			
			<div class="row albums filterable-content">
				<% for (var i=0;i < data.length; i++) { %>
				<div class="col-sm-4 col-xs-12 album-801 album-804">
					<div class="album-container bordered hover-effect">
						<div class="overlay"></div>
						<img  class="img-responsive" src="<%= data[i].podcast_cover %>" alt="">
						<div class="info-block">
							<div class="album-title">
								<h3><%= data[i].artistname %></h3>
								<h1><%= data[i].collectionname %></h1>
							</div>
							<div class="show-on-hover">
								<div class="sep"></div>
								<a href="/album/<%= data[i].collectionname %>" class="btn">See Album</a>
							</div>
						</div>
					</div>
				</div>
				<% } %>
			</div>
		</div>
	</div>
	
	<!-- Footer -->
	<footer id="colophon">
		<div class="container">
			<div class="row">
				<div class="widget col-sm-4 about-widget ">
					<h4 class="widget-title">About US</h4>
					<div class="widget-content">
						<p>Lorem ipsum dolor sit amet, consectetur  adipiscing eli esent massa libero, tristiq ue placerat sapien in, tincidmollis dui. Curabitur gravida felis turpis, non malesua est placerat eget. Cras vel fringilla mi. </p>
						
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bar">
				<div class="container relative-pos z-index">
					<p class="col-sm-6">Copyright 2018 <a href="#">Podcast</a> | Allrights Reserved</p>
				</div>
			</div>
	</footer>

	<!-- Go to top button -->
	<div id="back-to-top" class="fa fa-arrow-circle-up"></div>
	<div id="pause-player" class="fa fa-play-circle"></div>

	<!-- Scripts -->
	<script type="text/javascript" src="js/jquery2.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/jquery.jplayer.min.js"></script>
	<script type="text/javascript" src="js/jplayer.playlist.js"></script>
	<script type="text/javascript" src="js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="js/countdown.js"></script>
	<script type="text/javascript" src="js/twitterFetcher.js"></script>
	<script type="text/javascript" src="js/instafeed.min.js"></script>
	<script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
	<script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
	<script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="js/nivo-lightbox.min.js"></script>
	<script type="text/javascript" src="js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="js/mc.validate.js"></script>
	<script type="text/javascript" src="js/custom_js.js"></script>
</body>
</html>